<div class="jumbotron my-header">
  <h1>Welcome to Tweeter!</h1>
</div>

<div class="container">
  <div class="container">
    <div class="card p-4 my-0 bottom-shadow tweet-form">
      <%= render "new" %>
    </div>
  </div>

<div id="posts-table">
  <%= render partial: 'posts-table' %>
</div>


</div>
