.my-header {
  background-color: #502840;
  /*margin-top: 50px;*/
  color: white;
  border-radius: 0;
}

.my-card {
  background-color: #344B5A;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bottom-shadow {
  box-shadow: 3px 2px 4px 0px black;
}

.user-post {
  background-color: #502840;
}
