// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-height {
  margin-bottom: 0;
}

.my-flash {
  // margin-top: 6px;
  height: 50px;
  display: none;
  background: white;
}

.my-header {
  background-color: #502840;
  /*margin-top: 50px;*/
  color: white;
  border-radius: 0;
}

.my-card {
  background-color: #344B5A;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bottom-shadow {
  box-shadow: 3px 2px 4px 0px black;
}

.user-post {
  background-color: #502840;
}

.my-button {
  width: 150px;
  margin: 3px;
}

hr {
  border-color: white;
}
