body {
  padding-top: 50px;
}

.my-header {
  background-color: #502840;
  /*margin-top: 50px;*/
  color: white;
  border-radius: 0;
}

.my-card {
  background-color: #344B5A;
  color: white;
}

.bottom-shadow {
  box-shadow: 0 0 3px 2px grey;
}
